body{
  background-color: yellowgreen;
}

#bike-results{
  display: none;
}

#bike{
  display: none;
}

img{
  border: 4px solid #f9f8ac;
  box-shadow: 0 0 20px black;
  margin-bottom: 6px;
}

h1{
  text-align: center;
}

.jumbotron{
  background-color: lightyellow;
    margin-top: 6px;
    padding: 2rem 2rem;
}

a{
  color: white;
}

#change-location{
  float: right;
  padding: -2.6px;
}

#map {
        height: 300px;
        width:  300px;
        display: none;
        float: right;
        box-shadow: 0 0 10px black;
      }
